/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/*
	pin board / carousel
*/
/* line 7, ../../src/scss/useful-gallery.scss */
section.gallery {
  background: #333;
  border: solid 2px #333;
  height: 256px;
  margin: 0 0 40px 0;
  position: relative;
  width: 100%;
}
/* line 14, ../../src/scss/useful-gallery.scss */
section.gallery * {
  box-sizing: border-box;
  cursor: pointer;
}

/*
	pin board toolbar
*/
/* line 23, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar {
  margin: 0;
  padding: 0;
}
/* line 26, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 60px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: none;
  display: inline-block;
  height: 40px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 40px;
  z-index: 500;
}
/* line 42, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button:before {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background-image: url(../img/gallery.png);
}
/* line 46, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button.gallery_tool_next {
  margin-top: -20px;
  right: 15px;
  top: 50%;
}
/* line 51, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button.gallery_tool_next:before {
  background-position: 0 0;
}
/* line 54, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button.gallery_tool_previous {
  left: 15px;
  margin-top: -20px;
  top: 50%;
}
/* line 59, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button.gallery_tool_previous:before {
  background-position: 0 -32px;
}
/* line 62, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button.gallery_tool_carousel {
  right: 15px;
  top: 15px;
}
/* line 66, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button.gallery_tool_carousel:before {
  background-position: 0 -64px;
}
/* line 69, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button.gallery_tool_pinboard {
  right: 15px;
  top: 15px;
}
/* line 73, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button.gallery_tool_pinboard:before {
  background-position: 0 -96px;
}
/* line 76, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button.gallery_tool_filter {
  right: 60px;
  top: 15px;
}
/* line 80, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_toolbar button.gallery_tool_filter:before {
  background-position: 0 -128px;
}

/* line 88, ../../src/scss/useful-gallery.scss */
section.gallery:hover menu.gallery_toolbar button,
section.gallery.gallery_interface_visible menu.gallery_toolbar button {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 91, ../../src/scss/useful-gallery.scss */
section.gallery:hover menu.gallery_toolbar button.gallery_tool_disabled,
section.gallery.gallery_interface_visible menu.gallery_toolbar button.gallery_tool_disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: #7f7f7f;
}

/*
	pin board filter
*/
/* line 101, ../../src/scss/useful-gallery.scss */
section.gallery form.gallery_filter {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #ff6a00;
  height: 40px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 105px;
  top: 15px;
  z-index: 400;
}
/* line 113, ../../src/scss/useful-gallery.scss */
section.gallery form.gallery_filter fieldset.gallery_filter_groups {
  border: none;
  margin: 0;
  padding: 10px 8px 6px 8px;
}
/* line 117, ../../src/scss/useful-gallery.scss */
section.gallery form.gallery_filter fieldset.gallery_filter_groups legend {
  display: none;
}
/* line 120, ../../src/scss/useful-gallery.scss */
section.gallery form.gallery_filter fieldset.gallery_filter_groups label {
  color: #fff;
}
/* line 125, ../../src/scss/useful-gallery.scss */
section.gallery form.gallery_filter_hide {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
}
/* line 129, ../../src/scss/useful-gallery.scss */
section.gallery form.gallery_filter_show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: visible;
}

/* line 136, ../../src/scss/useful-gallery.scss */
section.gallery:hover form.gallery_filter_show,
section.gallery.gallery_interface_visible form.gallery_filter_show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/*
	pin board pager
*/
/* line 145, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_pager {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: rgba(0, 0, 0, 0.5);
  height: 48px;
  margin: 0;
  padding: 17px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 12px;
  text-align: center;
  z-index: 400;
}
/* line 161, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_pager li {
  border: solid 1px #fff;
  display: inline-block;
  list-style-type: none;
  margin: 0 5px 0 0;
  vertical-align: middle;
}
/* line 167, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_pager li a {
  background: #333 none;
  border: solid 1px #333;
  display: block;
  height: 8px;
  line-height: 1;
  overflow: hidden;
  text-indent: 10px;
  vertical-align: top;
  width: 8px;
}
/* line 180, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_pager li.gallery_pager_active a {
  background: #fff none;
}
/* line 184, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_pager li.gallery_pager_passive {
  border: solid 1px #fff;
}
/* line 186, ../../src/scss/useful-gallery.scss */
section.gallery menu.gallery_pager li.gallery_pager_passive a {
  background: #ccc none;
  border: solid 1px #ccc;
}

/* line 195, ../../src/scss/useful-gallery.scss */
section.gallery:hover menu.gallery_pager,
section.gallery.gallery_interface_visible menu.gallery_pager {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/*
	pin board progress indicator
*/
/* line 204, ../../src/scss/useful-gallery.scss */
section.gallery div.gallery_busy {
  background: #fff url(../img/busy_3.gif) no-repeat 50% 50%;
  border: solid 1px #000;
  display: none;
  height: 32px;
  left: 50%;
  margin: -16px 0 0 -16px;
  position: absolute;
  top: 50%;
  width: 32px;
  z-index: 400;
}

/*
	carousel mode
*/
/* line 221, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_carousel {
  height: 256px;
}
/* line 224, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_carousel menu.gallery_toolbar button.gallery_tool_previous {
  display: block;
}
/* line 227, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_carousel menu.gallery_toolbar button.gallery_tool_next {
  display: block;
}
/* line 230, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_carousel menu.gallery_toolbar button.gallery_tool_pinboard {
  display: block;
}
/* line 233, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_carousel menu.gallery_toolbar button.gallery_tool_carousel {
  display: none;
}

/*
	pin board mode
*/
/* line 242, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard {
  height: 512px;
}
/* line 244, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard menu.gallery_toolbar {
  right: 18px;
}
/* line 246, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard menu.gallery_toolbar button.gallery_tool_previous {
  display: none;
}
/* line 249, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard menu.gallery_toolbar button.gallery_tool_next {
  display: none;
}
/* line 252, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard menu.gallery_toolbar button.gallery_tool_pinboard {
  display: none;
}
/* line 255, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard menu.gallery_toolbar button.gallery_tool_carousel {
  display: block;
}
/* line 259, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard menu.gallery_pager {
  display: none;
}

/*
	slides in carousel mode
*/
/* line 268, ../../src/scss/useful-gallery.scss */
section.gallery div.gallery_slides {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 300;
}
/* line 275, ../../src/scss/useful-gallery.scss */
section.gallery article, section.gallery figure {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(10%, #ffffff));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #ffffff 10%);
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 10%);
  box-shadow: 0 1px 3px #000;
  -webkit-transition-property: left, right, opacity;
  transition-property: left, right, opacity;
  -webkit-transition-duration: 0.3s, 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s, 0.3s;
  -webkit-transition-timing-function: ease, ease, ease;
  transition-timing-function: ease, ease, ease;
  background: #ffffff;
  left: 50%;
  top: 50%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  margin: -100px 0 0 -100px;
  top: 50%;
  visibility: hidden;
  width: 100%;
}
/* line 291, ../../src/scss/useful-gallery.scss */
section.gallery article img, section.gallery figure img {
  border: 0;
}
/* line 295, ../../src/scss/useful-gallery.scss */
section.gallery article {
  padding: 3%;
}
/* line 297, ../../src/scss/useful-gallery.scss */
section.gallery article h3 {
  margin: 0 0 0.5em 0;
}
/* line 301, ../../src/scss/useful-gallery.scss */
section.gallery .gallery_carousel_farleft {
  left: -50%;
  top: 50%;
  visibility: hidden;
  z-index: 200;
}
/* line 307, ../../src/scss/useful-gallery.scss */
section.gallery .gallery_carousel_left {
  left: -50%;
  top: 50%;
  visibility: visible;
  z-index: 300;
}
/* line 313, ../../src/scss/useful-gallery.scss */
section.gallery .gallery_carousel_centre {
  left: 50%;
  top: 50%;
  visibility: visible;
  z-index: 400;
}
/* line 319, ../../src/scss/useful-gallery.scss */
section.gallery .gallery_carousel_right {
  left: 150%;
  top: 50%;
  visibility: visible;
  z-index: 300;
}
/* line 325, ../../src/scss/useful-gallery.scss */
section.gallery .gallery_carousel_farright {
  left: 150%;
  top: 50%;
  visibility: hidden;
  z-index: 200;
}

/*
	slides in pin board mode
*/
/* line 337, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard div.gallery_slides {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
/* line 344, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard article, section.gallery.gallery_mode_pinboard figure {
  height: auto !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: 44% !important;
}
/* line 350, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard .gallery_pinboard_loading {
  left: 25%;
  visibility: visible;
}
/* line 354, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard .gallery_pinboard_left {
  left: 3%;
  visibility: visible;
}
/* line 358, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard .gallery_pinboard_right {
  left: 51%;
  visibility: visible;
}

/*
	invitation for interaction
*/
/* line 367, ../../src/scss/useful-gallery.scss */
section.gallery div.gallery_hint {
  background: Transparent url(../img/gallery.png) no-repeat 0 -323px;
  position: absolute;
  right: 4px;
  bottom: 7px;
  height: 32px;
  width: 32px;
  z-index: 1000;
}

/* line 378, ../../src/scss/useful-gallery.scss */
section.gallery:hover div.gallery_hint,
section.gallery.gallery_interface_visible div.gallery_hint {
  visibility: hidden;
}

/*
	slide content markup
*/
/* line 388, ../../src/scss/useful-gallery.scss */
section.gallery article h3 {
  line-height: 40px;
}
/* line 391, ../../src/scss/useful-gallery.scss */
section.gallery article img {
  float: left;
  border: solid 1px #333;
  margin: 5px 10px 5px 0;
}
/* line 398, ../../src/scss/useful-gallery.scss */
section.gallery figure img {
  display: block;
  height: 100%;
  margin: 0 auto 0 auto;
  width: auto;
}
/* line 404, ../../src/scss/useful-gallery.scss */
section.gallery figure figcaption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 13px 15px;
  text-align: center;
}

/* line 419, ../../src/scss/useful-gallery.scss */
section.gallery.gallery_mode_pinboard figure img {
  height: auto;
  width: 100%;
}
